{{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">            
            <div class="form-group">
                {{ form_label(form.name, "Nombre *")}}
                {{ form_widget(form.name) }}
            </div>
        </div>
        <div class="col-md-6">
            {{ form_label(form.category_id, "Categoria *") }}    
            {{ form_widget(form.category_id) }} 
        </div>
    </div>
    <button class="btn btn-primary mr-2">Añadir Producto</button>
{{ form_end(form) }}
