{% extends 'base.html.twig' %}

{% block title %}Products index{% endblock %}

{% block body %}
    <!-- Wrapper Start -->
    <div class="wrapper">
        <div class="content-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                            <div class="col-lg-12">
                                {% if error != null %}
                                    <div class="alert alert-danger">
                                        {{error}}
                                    </div>
                                {% endif %}
                            </div>
                            <div>
                                <h4 class="mb-3">Productos</h4>
                            </div>
                            <a href="{{ path('app_products_new') }}" class="btn btn-primary add-list">
                                <i class="las la-plus mr-3"></i>Nuevo producto
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="table-responsive mb-3">
                            <table class="table mb-0 tbl-server-info no-footer" role="grid">
                                <thead class="bg-white text-uppercase">
                                    <tr class="ligth ligth-data" role="row">
                                        <th class="text-left">Nombre</th>
                                        <th class="text-left">Código</th>
                                        <th class="text-left">Categoría</th>
                                        <th class="text-center">Stock</th>
                                        <th class="text-right">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                        <tr>
                                            <td class="text-left">{{ product.name }}</td>
                                            <td class="text-left">{{ product.id }}</td>
                                            <td class="text-left">{{ product.categoryId.name }}</td>
                                            <td class="text-center">{{ product.stock }}</td>
                                            <td class="text-right">
                                                <a class="badge bg-success" data-toggle="modal" data-target="#stockModal{{product.id}}" data-placement="top" title="" data-original-title="Movimiento de stock" href="#">
                                                    <i class="las la-plus"></i>
                                                </a>
                                                <a class="badge bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Histórico" href="{{ path('app_stock_historic', {'user': app.user.id, 'product': product.id}) }}">
                                                    <i class="las la-history"></i>
                                                </a>
                                                <a class="badge bg-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar" href="{{ path('app_products_edit', { 'id': product.id }) }}">
                                                    <i class="ri-pencil-line"></i>
                                                </a>
                                            </td>
                                            <div class="modal fade" id="stockModal{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="stock" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Añadir/quitar stock</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <form action="{{ path('app_products_stock', {'id': product.id}) }}" method="POST">
                                                        <div class="modal-body">
                                                            <input type="number" name="nuevoStock{{product.id}}" class="form-control" reequired />
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                            <button type="submit" class="btn btn-primary">Añadir/quitar stock</button>
                                                        </div>
                                                    </form>
                                                    </div>
                                                </div>
                                            </div>    
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
{% endblock %}
