{{ form_start(loginForm, {'action': path('app_login'), 'method': 'POST'}) }}
    <div class="row">
        <div class="col-lg-12">
            <div class="floating-label form-group">
                {{ form_widget(loginForm.username, {'full_name': '_username'}) }}
                {{ form_label(loginForm.username, 'Usuario') }}
            </div>
            <div class="floating-label form-group">
                {{ form_widget(loginForm.password, {'full_name': '_password'}) }}
                {{ form_label(loginForm.password, 'Contraseña') }}
            </div>
            {{ form_widget(loginForm.rememberMe, {'full_name': '_remember_me', 'id': 'remember_me'}) }}
            {{ form_label(loginForm.rememberMe) }}
        </div>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button type="submit" class="btn btn-primary">Acceder</button>
    <p class="mt-3">
        Crear una cuenta <a href="{{ path('app_register') }}" class="text-primary">Registrarse</a>
    </p>
{{ form_end(loginForm) }}